h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #151717;
  font-weight: 250;
  margin-top: 300px;
}

.container {
  display: grid;
  grid-row-gap: 20px;
}

article:hover {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


article {
  display: flex;
  border-radius: 6px;
  background-color: #F0F0F0;
  padding-left: 10px;
  width: 300px;
  height: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 13px;
  margin-top: 10px;

}

h4 {
  color: #DBFFFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #8455FF;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  padding: 3px;
  border-radius: 1.23px;
  gap: 3px;
}

p {
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #1F2626;
  font-size: 15px;

}

btn-primary {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}


@media (min-width: 1080px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #151717;
    font-weight: 200;
    margin-top: 110px;
  }

  btn-primary {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin-top: 28px;
  }

}