<h1>Projects</h1>
<div class="container">
  <article *ngFor="let repo of repositories | slice : 0 : visibleCards">
    <a [href]="repo.html_url" target="_blank">
      <h5>{{ repo.name }}</h5>

      <h4>{{ repo.language }}</h4>

      <p>{{ repo.description }}</p>
    </a>
  </article>
</div>
<btn-primary
  *ngIf="visibleCards < repositories.length"
  (click)="showMoreCards()"
  text="Ver todos projetos"
></btn-primary>
<btn-primary
  *ngIf="visibleCards > 4"
  (click)="showMinCard()"
  text="Mostrar menos"
></btn-primary>
