<section>
  <div class="main-content">
    <h1>Sobre mim</h1>
    <div class="bordered-paragraph">
      <p>
        Profissional graduando em Análise e Desenvolvimento de Sistemas, com
        experiência em desenvolvimento de Software Back-end em Java;
        Desenvolvimento de aplicações web com Spring Boot/ Quarkus;
        desenvolvimento de API RESTful e microsserviços com RabbitMQ e
        experiências com Clean code e padrões de projetos. Acrescentando
        conhecimentos e projetos com as tecnologias: jUnit5, Swagger, Angular,
        Git, Maven, Gradle, Linux, mySQL, Postgresql, MongoDB, Docker, AWS, GCP.
        Metodologias: SCRUM, Kanban.
      </p>
    </div>
  </div>
</section>
