.btn-primary {

  font-size: 16px;
  padding: 12px 20px;
  font-weight: 500px;

  color: #DBFFFF;
  background: rgb(82,34,208);
  background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.btn-primary:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
